<!DOCTYPE html>
<html>
	<head>
		<title>Comment Section</title>
	</head>
    <body></body>
<h1 class="mt-4">Top 100 Movies</h1>
<a href="/watchlist" class="btn btn-secondary" style="float: right"
	>watchlist</a>
<div class=" container">    
    <center>    
    <div class="card" style="width: fit-content;">    
        <div class="card-body">  
            <h5>Add your comment</h5>  
         <form action="/comment" method="POST">    
                <div class="row">    
                  <div class="form-group col-md-12">    
                    <input type="text" class="form-control" name="comment" placeholder="Your Comment" required>    
                  </div>    
                </div>       
                <button type="submit">Submit</button>    
              </form>     
        </div>    
      </div>    
    </center>    
             
    </div> 
    </body>   
</html>
